<div class="col-sm-12 btn-group">
  <%= link_to salida_procesos_path, class: "btn btn-ghost btn-gray pull-right" do %>        
    <i class="fa fa-mail-reply" aria-hidden="true"></i>                                      
    <%= t('salida_procesos.salida_proceso.back_link') %>
  <% end %>  
</div>