<div class="col-sm-12 btn-group">
  <%= link_to salida_bodegas_path, class: "btn btn-ghost btn-gray pull-right" do %>        
    <i class="fa fa-mail-reply" aria-hidden="true"></i>                                      
    <%= t('salidas.back_link_bodega') %>
  <% end %>  
  <%= link_to reporte_salida_bodega_path(salida_bodega), class: "btn btn-ghost btn-sea pull-right", target: '_blank' do %>
    <i class="fa fa-file-pdf-o"  aria-hidden="true"></i>
    <%= t('salidas.show.print_report_link') %>
  <% end %>
</div>