<table class="table">
  <thead>
      <tr>
          <th>Tipo de Merma</th>
          <th>Fecha de Secado</th>
          <th>Cantidad Mermada</th>          
          <th>Fecha de Registro</th>          
      </tr>
  </thead>
  <tbody>
    <%= render partida.mermas.order("created_at DESC") %>
  </tbody>
  <tbody>
    <tr>
      <th></th>
      <th>Total:</th>
      <th><%= "#{number_with_precision(partida.total_mermas, limit: 2)} Kgs" %></th>
      <th></th>
    </tr> 
  </tbody>  
</table>