<tr>     
  <td>
    <%= t('activerecord.attributes.merma.merma_types.'+ merma.merma_type) %>
  </td>
  <td>
    <%= merma.merma_type == "dry_coffee" ? l(merma.date_dry) : 'No aplica' %>    
  </td>
  <td>
    <%="#{number_with_precision(merma.quantity, precision: 2)} Kgs" %>
  </td>
  <td>
    <%= l(merma.created_at, format: :medium) %>
  </td> 
</tr>