<li class='list-group-item'>
    <div class="row">
        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt><%= title1 %></dt>
            <dd><%= value1 %></dd>              
          </dl>          
        </div>
        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt><%= title2 %></dt>
            <dd><%= value2 %></dd>              
          </dl>          
        </div>
    </div>
</li>