<%= simple_form_for :bolsas_salida, url: line_item_salidas_path(partida_id: partida), remote: true, html: { class: 'form-inline' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :total, label: false %>    

  <div class="col-sm-3" style = "display: none">
    <div class="icon-box bg">
      <h3 class="title-count title-lg text-theme-sm hr _total-bolsas" data-from="25" data-speed="1400" data-refresh-interval="50" data-to="75">0</h3>
      <h3 class="_total-bolsas-title text-theme-sm">BOLSAS</h3>
    </div>
  </div>

  <%= button_tag(type: :submit, class: 'btn btn-green btn-ghost add-to-cart') do %>
    <i class="fa fa-send" aria-hidden="true"></i>                          
  <% end %>
    
<% end %>