<% unless cart_salida_proceso.line_item_salida_procesos.empty? %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-shopping-cart">
      <table class="table">
        <%= "cart_salidas/head_table" %>
        <tbody>
          <%= render cart_salida_proceso.line_item_salida_procesos.order("id DESC") %>
        </tbody>
        <tbody>
          <%= render "cart_salidas/body_table", cart: cart_salida_proceso %>
        </tbody>
      </table>
      <%= render "cart_salidas/footer", cart: cart_salida_proceso, 
        salida: salida_procesos_path, id_salida: 'realizar-salida-proceso-input' %>
    </div>
    <!-- Panel End -->
  </div>
</div>
<% end %>
