<% if cart_salida_proceso %>
  <div class="pull-right menu-cart-salidas-proceso">
      <%= render "cart_salidas/cart_salida", cart: cart_salida_proceso, 
        title: "Salidas a proceso (#{cart_salida_proceso.line_item_salida_procesos.size})" %>      
  </div>
<% end %>