<div class="row">
  <div class="col-md-12">
    <div class="footer">
      <div class="container">
        <div class="footer-copyright text-center">
          Copyright 2017. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </div>
</div>