<!-- NAVBAR -->
<div id="header">
  <nav id="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="/"><%= image_tag 'logo/logo_cafe.jpg', class: "img-responsive", alt: 'theme-img' %></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <%= active_link_if controller_name.eql?('clients') do %>
              <a href="/clients">Clientes</a>              
            <% end %>          
            <%= active_link_if controller_name.eql?('entradas') do %>
              <a href="/entradas">Entradas</a>
            <% end %>          
            <%= active_link_if controller_name.eql?('salida_procesos') do %>
              <a href="/salida_procesos">Salidas</a>
            <% end %>          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
<!-- NAVBAR END -->