<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="text-center text-uppercase"><%= t('.title') %></h4>
  </div>
  <div class="panel-body">
    <%= render 'form', entrada: @entrada %>          
  </div>
</div>
