<% if cart_salida_bodega %>
  <div class="pull-right menu-cart-salidas-bodega">
      <%= render "cart_salidas/cart_salida", cart: cart_salida_bodega, 
        title: "Salidas de Bodega (#{cart_salida_bodega.line_item_salida_bodegas.size})" %>      
  </div>
<% end %>