<div class="row">
      <div class="col-sm-3" style="border: 1px solid black;">
        <p class="lead text-center">CALIDADES</p>
      </div>
      <div class="col-sm-3 text-center" style="border: 1px solid black;">
        <p class="lead">KILOGRAMOS</p>      
      </div>
      <div class="col-sm-2 text-center" style="border: 1px solid black;">
        <p class="lead">%</p>            
      </div>
      <div class="col-sm-2 text-center" style="border: 1px solid black;">
        <p class="lead">SACOS</p>                  
      </div>
      <div class="col-sm-2 text-center" style="border: 1px solid black;">
        <p class="lead">KGS</p>                        
      </div>
</div>
