<div class="row">
    <div class='col-sm-9 col-sm-offset-3'><h1 class='title-md hr-before text-uppercase'><%= t('.title') %></h1></div>    
</div>

<div class="row">
  <%= render 'form', process_result: @process_result %>          
</div>