.nested-fields {
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 5px;
}

.add-partidas {
    h2, a {
        margin-top: 5px;
    }
}

.entrada-info-list {
    li dl {
        margin-bottom: 0;        
    }
    li dt {
        width: 260px;
    }
    li dd {
        margin-left: 280px;
    }
}

.partida-info-list {
    li dl {
        margin-bottom: 0;
    }
}