.total-bolsas.hr:after {
    display: block;
    margin-top: 0px !important; 
    width: 50px;
}

.total-bolsas-title {
    font-size: 12px;  
    font-weight: 900;
}

.totales_salidas_proceso {
    color: orangered;
    border-bottom: 1px solid #2E2F30;
}

.totales_disponibles {
    background-color: goldenrod;
    font-weight: 800;
}
