<div class="col-sm-3">
  <%= link_to 'Cancelar Salida', cart, method: :delete, class: 'btn btn-default btn-sm', 
      id: 'cancelar-salida-link', data: { confirm: '¿Está usted seguro?' } %>
</div>
<div class="col-sm-5">
  <div id="mensage-error-div" class="alert alert-danger" role="alert" style="display: none;">
      <span style="display: inline;" class="glyphicon glyphicon-exclamation-sign" 
            aria-hidden="true">
      </span>
      <span class="sr-only">Error:</span>
      Tipos de cafe distintos
  </div>            
</div>        
